.btn-custom {
    color: #fff;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
}

.navbar-custom {
    background-color: #2b82d8;
    color: #fff;
}

.navbar-brand, .nav-link, #navbarDropdown {
    color: #fff;
}
